<!-- views/partials/footer.ejs -->
<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
  <p>&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/inv/error-test" title="Test Error Handling">Trigger Error</a></p>
</footer>


