<!-- views/inventory/management.ejs -->

<h1>Inventory Management</h1>

<!-- Display flash messages stored in the session -->
<%- messages() %>

<!-- Navigation Links for additional inventory tasks -->
<nav>
  <ul>
    <li>
      <a class="management-link" href="/inv/add-classification" title="Add new classification">Add New Classification</a>
    </li>
    <li>
      <a class="management-link" href="/inv/add-inventory" title="Add new inventory">Add New Inventory</a>
    </li>
  </ul>
</nav>